.game {
  display: flex;
  flex-flow: column;
}

.statusBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
